
body {
  background-color: #9999cc;
  font-family: Courier;
  font-size: 12px;
}

h1 {
  font-size: 24px; 
}

p {
  font-size: 10px;
}

.artimg {
  width: 100%;
}

#tizolimg {
  height: ;
  width: ;
}
