
body {
  background-color: #9999cc;
  font-family: Courier;
  font-size: 12px;
}

h1 {
  font-size: 24px; 
}

p {
  font-size: 10px;
}

#menu {
  position: fixed;
  display: block;
  height: 100px;
  width: 100px;
  background-color: black;
}

.button {
  font-size: 24px;
  font-style: bold;
  position: fixed;
  display: block;
  /*height: ;
  width: ;
  background-color: ;
  border-color: ;
  border-radius: ;
  border-width: ;
*/
}

#tizolimg {
  height: 200px;
}

